{% extends "email_layout.twig" %}

{% block content %}
    <h3>{{ __('Hello') }} {{ firstName }}</h3>
    <p>{{ __('Welcome to CEVI Web. You have recently created a CEVI Web account. We are happy that you are using our Platform.') }}</p>
    <p>{{ __('Please confirm your registration:') }}</p>
    <a href="{{ url }}">{{ url }}</a>
    <p>{{ __('The registration is confirmed for following email:') }}</p>
    {{ email }}
    <p>{{ __('For security reasons, Your position will be confirmed by your department head.') }}</p>
{% endblock %}